* {
}

body {
  background-color: pink;
  font-family: 'Orbitron', sans-serif;
  color: green;
}

hr {
  Height: 15px;
  color: purple;
}

a:hover {
  color: orange;
  text-decoration: none;
  text-shadow: yellow;
}
