body {
  background-color: hotpink;
  font-family: 'Orbitron', sans-serif;
  color: lightgreen;
}
hr {
  Height: 15px;
  color: purple;
}
.link {
  color: orange;
}
button {
  background-color: cyan;
  border: none;
  color: purple;
  padding: 1em 2em 1em 2em;
}
a:visited {
  background-color: cyan;
}
a:hover {
  color: white;
  text-decoration: none;
  text-shadow: yellow;
}
.container {
  background-image: url(..\img\GOkP8onbuyjGmN9Rc8Que5mw21CdSw6OuXpAKUuE6-4.jpg);
  background-size: cover;
  height: 700px;
  margin: 0 auto;
  width: 50%;
}
h1 {
  color: white;
  font-size: 50px;
  position: relative;
  text-align: center;
}
