body {
  background-color: hotpink;
  font-family: 'Orbitron', sans-serif;
  color: lightgreen;
}
hr {
  Height: 15px;
  color: purple;
}
.link {
  color: orange;
}
button {
  background-color: cyan;
  border: none;
  color: purple;
  padding: 1em 2em 1em 2em;
}
a:visited {
  background-color: cyan;
}
a:hover {
  color: white;
  text-decoration: none;
  text-shadow: yellow;
}
.container {
  background-image: url(https://external-preview.redd.it/GOkP8onbuyjGmN9Rc8Que5mw21CdSw6OuXpAKUuE6-4.jpg?width=960&crop=smart&auto=webp&s=baada9754b52c3be1dbf59e8d9b2502ce8ff9f8d);
  background-size: cover;
  height: 700px;
  margin: 0 auto;
  width: 50%;
}
h1 {
  color: white;
  font-size: 50px;
  position: relative;
  text-align: center;
}
.para {
  font-family: 'Orbitron', sans-serif;
  font-size: 72px;
  font-weight: 450;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  top: 70px;
  position: relative;
  color: lightgreen;
}
@media screen and (max-width: 1000px) {
  body {background-color: lightgrey;}
}
@media screen and (max-width: 500px) {
  body {background-color: yellow;}
}
