body {
  background-color: hotpink;
  font-family: 'Orbitron', sans-serif;
  color: green;
}
hr {
  Height: 15px;
  color: purple;
}
a:link {
  color: orange;
}
a:visited {
  background-color: cyan;
}
a:hover {
  color: white;
  text-decoration: none;
  text-shadow: yellow;
}
