* {

}

h1 {

}
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400;1,700&family=Vidaloka&display=swap');

  body { 
    margin: 0;
    padding: 0;
  }

  .nav-bar {
    font-family: 'Vidaloka', serif;
    width: 100%;
    background-color: #F0DBDB;
    text-align: center;
    padding: 5px auto;
  }

  .nav-bar a  {
    width:100%;
    color: #855A5A;
    text-decoration: none;
  }

  .nav-bar:first-child, .nav-bar:first-child {
    padding: 10px 0px;
  }

  @media only screen and (min-width:400px) {
    .nav-bar {
    display: flex;
    justify-content: space-around;
    }
    .nav-bar:first-child, .nav-bar:first-child {
    padding: 0px 0px;
  }
    }
  }
