html {
  font-size: 16px;
  box-sizing: border-box;
  background-color: yellow;
}

/*
codepen reset styles
*/

li, ul, p {
  margin: 0;
  padding: 0;
}

body {
  width:100%;
  background-color: black;
  margin:0px;
  padding:0px;
}

section {
  background-color:#F5F6DD;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

h1 {
  color:white;
  font-size:2rem;
}

section h1, p, ul, li {
  color:#724937;
}

.iced-drinks, .hot-drinks, .intro {
  width:85%;
  margin: 0 auto;
  color:
}

 .menu-item-row {
  width: 100%;
  display:flex;
  justify-content: space-between;
  align-items:flex-start;
  padding: 0 0 1rem 0;
}

.menu-item-row p {
  width:30%;
}

.menu-item-row ul {
  width:60%;
  list-style-type: none;
  float: right;
  text-align:right;
}

.menu-item-row ul li {
  width:30%;
  display:inline-block;
}
